<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <h1 class="box" id="heading"><%= listTitle %></h1>
    <div class="box">
        <% newListItem.map((i)=> { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= i %></p>
        </div>
        <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" id="newItem" name="newItem" placeholder="New Item" autocomplete="off" />
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </body>
</html>
